language: python
python:
  - "3.3"
  - "2.7"
  - "2.6"
install:
  - pip install -q -e .
  - pip install coveralls
script:
  - python setup.py test
  - coverage run --source=mse setup.py test
after_success: coveralls
